<div class="relative h-25 w-full">
  <app-nevbar></app-nevbar>
</div>

<div class=" px-24">
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    @for (item of quizList; track $index) {
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="mb-4">
            <h3 class="text-lg font-semibold text-gray-700">Quiz {{ $index + 1 }}</h3>
        </div>
        <div class="text-gray-600">
            <p><strong>{{ item.title }} </strong> </p>
            <p><strong>Category:</strong> {{ item.categoryId }}</p>
            <p><strong>Difficulty:</strong> {{ item.difficultyId }}</p>
        </div>
        <div class="mt-4">
            <button (click)="deleteQuiz()" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">
                play Quiz
            </button>
        </div>
    </div>
    }
  </div>
</div>
  
<!-- <div class="bg-white">
  <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
      <span class="text-gray-700 text-sm font-medium mr-2">Category:</span>
      <select name="category" class="text-sm px-2 py-1 border rounded-md focus:outline-none focus:border-indigo-500 mr-2" required>
          <option value="">Select</option>
          <option value="math">Math</option>
          <option value="science">Science</option>
          <option value="history">History</option>
      </select>

      <span class="text-gray-700 text-sm font-medium mr-2">Difficulty:</span>
      <select name="difficulty" class="text-sm px-2 py-1 border rounded-md focus:outline-none focus:border-indigo-500 mr-2" required>
          <option value="">Select</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
      </select>

      <button class="bg-indigo-500 text-sm font-medium text-white px-4 py-1 rounded-md hover:bg-indigo-600" (click)="fetchquiz()">Search</button>
  </div>
</div> -->


